%div{style: "text-align: center"}
  %canvas#gameCanvas{width: 500, height: 400, style: "border: 1px dotted black"}

%div{style: "text-align: center"}
  .row
    %button{onclick: "Game.toggleMirror(0)"} 1
    %button{onclick: "Game.toggleMirror(1)"} 2
    %button{onclick: "Game.toggleMirror(2)"} 3
    %button{onclick: "Game.toggleMirror(3)"} 4
  .row
    %button{onclick: "Game.toggleMirror(4)"} 5
    %button{onclick: "Game.toggleMirror(5)"} 6
    %button{onclick: "Game.toggleMirror(6)"} 7
    %button{onclick: "Game.toggleMirror(7)"} 8
  .row
    %button{onclick: "Game.toggleMirror(8)"} 9
    %button{onclick: "Game.toggleMirror(9)"} 10
    %button{onclick: "Game.toggleMirror(10)"} 11
    %button{onclick: "Game.toggleMirror(11)"} 12
  .row
    %button{onclick: "Game.toggleMirror(12)"} 13
    %button{onclick: "Game.toggleMirror(13)"} 14
    %button{onclick: "Game.toggleMirror(14)"} 15
    %button{onclick: "Game.toggleMirror(15)"} 16

  .row
    %button{onclick: "Game.toggleMirror(16)"} 17
    %button{onclick: "Game.toggleMirror(17)"} 18
    %button{onclick: "Game.toggleMirror(18)"} 19
    %button{onclick: "Game.toggleMirror(19)"} 20

:coffeescript
  window.Game = new LaserGame

  $ ->
    Game.init()
